
###> symfony/framework-bundle ###
Application/.env.local
Application/.env.local.php
.idea
Application/.env.*.local
Application/public/bundles/
Application/var/
Application/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
Application/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
Application/.web-server-pid
###< symfony/web-server-bundle ###
